aiohttp
openai==0.28.1
httpx==0.25.1
markdown2==2.4.10
nh3==0.2.14
numpy==1.26.2
pydantic==1.10.13
psutil==5.9.6
requests==2.32.0
rich==13.7.0
tiktoken==0.5.1
uvicorn==0.24.0.post1
accelerate==0.24.1
peft==0.6.2
sentencepiece==0.1.99
protobuf==4.23.4
einops==0.7.0
wandb==0.16.0
torch==2.1.1
